<div class="container1">
  <div class="row">
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/1men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>
 


  
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/2men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>
  


  
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/3men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
   
  </div>

  
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/4men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>
  

  
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/5men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>
 

  
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/6men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>
 

  
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/7men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>


  
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/8men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>
  

  
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/9men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/10men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/11men.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            men T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>