<mat-sidenav-container class="a">
    <mat-sidenav #sidenav mode="side"  opened>
  <app-side-bar></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar >
        <button mat-icon-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
        <span class="b"></span>
  
        <a mat-list-item [routerLink]="['/alldata/addcart']" routerLinkActive="active"><button class="material-icons" >shopping_cart</button> </a>
        <a mat-list-item [routerLink]="['/alldata/logout']" routerLinkActive="active"><button class="material-icons" >power_settings_new</button></a>   
      </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  
  <button mat-raised-button color=warn>primary</button>