
<div class="container1">
    <div class="row">
        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/1k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>
    


   
        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/2k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>
    


   
        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/3k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>
    

   
        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/4k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>
    

   
        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/5k.jpg" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>
    

   
        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/6k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>
    

   
        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/7k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>
    

   
        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/8k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>
    

   
        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/9k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/10k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/11k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-3 box">
            <mat-card class="card">
                <mat-card-title>Kids</mat-card-title>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="../assets/12k.jfif" alt="Kids"></div>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        Kids Wear<br>
                        prise: $400
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="material-icons">add_shopping_cart</button>
                    <button class="material-icons">favorite_border</button>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>