<!-- <div class="container1">
  <div class="row">
    <div class="col-md-3 box" *ngFor="let item of arrProduct">
      <h1>{{item.name}}</h1>

      ------------------------------------
      <mat-card class="card">
        <mat-card-title class="title">{{item.name}}</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="{{item.image}}" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            {{description}}<br>
            prise: ${{price}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
 ---------------------
    </div>
  </div>
</div> -->

<div class="container1">
  <div class="row">
    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/1w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>


    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/2w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>


    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/3w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>



    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/4w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>


    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/5w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>



    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/6w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>



    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/7w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>


    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/8w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>


    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/9w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/10w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>


    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/12w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>


    <div class="col-md-3 box">
      <mat-card class="card">
        <mat-card-title>T-shirts</mat-card-title>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../assets/11w.jfif" alt="T-shirt"></div>

        </mat-card-header>
        <mat-card-content>
          <p>
            Women T-shirt<br>
            prise: $400
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="material-icons">add_shopping_cart</button>
          <button class="material-icons">favorite_border</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>